DB_NAME=app_db
DB_USERNAME=app_user
DB_PASSWORD=app_password

KEYCLOAK_DB_PASSWORD=keycloak_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

Rabbit
user:guest
pass:guest

rust
user:rustfsadmin
pass:rustfsadmin